<% if (theme.avatar){ %>
  <aside class="widget" id="avatar-aside">
    <div class="widget-content" id="avatar-widget">
      <div id="avatar-div">
        <img src="<%- theme.avatar.img %>" alt="Hey!" id="avatar-img"></img>
      </div>
      <p><%- theme.avatar.bio %></p>
    </div>
  </aside>
<% } %>